<ion-view title="Rules">
  <ion-content class="has-header padding">
      <h2>Who Goes First</h2>
      <p>Each player rolls one die, with the highest roll going first. In the event of a tie, the players who tied for the highest roll roll again. Once the first player is decided, play continues to the left.</p>

      <h2>Getting on the Board</h2>
      <p>Before points can be counted for any player, they must first 'get on the board' by rolling at least 500 points in a turn. A player cannot 'farkle' until they are on the board. Some believe that it is 'more fun' to push the number of points needed to get on the scoreboard to 750 or even 1000, so, keep that in mind, if you want to have 'more fun'.</p>

      <h2>Rolling in a Turn</h2>
      <p>To start a turn, roll all six dice. Set aside any dice that are worth points and roll the remaining dice. If you roll and no dice are worth any points, your turn is over. Continue rolling and setting aside scoring dice, adding the score to your total  If all six dice are scoring dice, you may roll all six and add the subsequent points to your running total. Keep rolling until you feel you are pressing your luck and have the scorekeeper record your score. </p>

      <h2>Farkling</h2>
      <p></p>

      <h2>Winning the Game</h2>
      <p>Be the first player to meet or exceed 10,000 points to start the end game sequence. Each other player has one turn to try to beat your score. After all remaining players have had their turn, the player with the highest score wins.</p>
  </ion-content>
</ion-view>
