<ion-view title="Rules">
  <ion-content class="has-header padding">
      <h2>Farkle Scorekeeper and Determining Who Goes First</h2>
      <p>Choose a scorekeeper. It is their responsibility to keep track of everyone’s score, so pick someone who can pay attention to detail and doesn’t cheat at Monopoly. Each player rolls one die, with the highest roll going first. In the event of a tie, the players who tied for the highest roll roll again. Once the first player is decided, play continues to the left.</p>

      <h2>Farkle Scoring</h2>
      <p>You cannot count any of your points until you reach at least 500 points in a single round. When you reach 500 points for the first time, you may choose to immediately end your turn to prevent losing the points.</p>

      <h2>Your Turn</h2>
      <p>On your turn, place all six dice into the dice cup and roll them. If a die falls out of the play area, re-roll it. Take out any dice worth points after each roll. This forms your running score for the round. Roll the remaining dice, removing any dice worth points and adding them to your running total. If you are ever able to set aside all six dice, you may re-roll all of your dice and keep building your running total. If ever you are unable to set aside any dice (no dice are worth points), you have Farkled. You lose your running point total and your turn is over.</p>

      <h2>Winning the Game</h2>
      <p>Be the first player to meet or exceed 10,000 points to start the end game sequence. Each other player has one turn to try to beat your score. After all remaining players have had their turn, the player with the highest score wins.</p>
  </ion-content>
</ion-view>
