// ----------------------------------------------------------
// 5-MOLECULES: groups of elements (atoms) that function as a unit
// ----------------------------------------------------------

.modal-close {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}