// ----------------------------------------------------------
// Contextual Iconography
// ----------------------------------------------------------

.icon {
  display: block;
  height: 2.5em;
  width: 2.5em;
}

